/* Colors */
:root {
    --header: #2C3E50;
    --main-green: #1abc9c;
    --footer: #3A546D;
    --copyright: #2C3E50;
    --font-clear: #FFFFFF;
    --font-dark: #2C3E50;
    --line: #CCCCCC;
}

/* Icons */
/*
star: <i class="fas fa-star"></i>
burger: <i class="fas fa-bars"></i>
download: <i class="fas fa-download"></i>

<i class="fab fa-facebook-f"></i>
<i class="fab fa-google-plus-g"></i>
<i class="fab fa-twitter"></i>
<i class="fab fa-linkedin-in"></i>
*/

/* COMMON */

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: var(--main-green);
}

img {
    width: 100%;
}

h2 {
    text-transform: uppercase;
}

h3 {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 400;
}

.flex_col_center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex_row_center {
    display: flex;
    align-items: center;
}

.flex_col_end {
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* NAV */

nav {
    color: var(--font-clear);
    width: 100%;
    height: 80px;
    line-height: 80px;
    position: fixed;
    background-color: var(--header);
    z-index: 99;
}

.title-menu {
    font-size: 1.5rem;
}

.burger-menu {
    padding-right: 1rem;
}

.text-menu {
    display: none;
}

nav a {
    padding: 0 1rem;
}

nav a>i {
    padding: .5rem 1rem;
}

/* Menu Dropdown */

.menu-dropdown li {
    line-height: 0;
}

.menu-dropdown>ul {
    margin-right: -1.75rem;
    display: none;
}

.burger-none:hover .menu-dropdown>ul {
    display: inline-block;
}

.drop_item {
    padding: 2rem 1rem 2rem 4rem;
    width: 200px;
    background-color: var(--header);
    border: 1px solid var(--header);
}

.drop_item:hover {
    background-color: rgb(255, 255, 255);
}

nav ul>li {
    display: flex;
    flex-direction: column;
    align-items: end;
}

/* Nav - Media Query */

/* Tablet */

@media all and (min-width: 768px) {
    
    nav {
        padding: 0 2rem;
    }
    .burger-none {
        display: none;
    }
    .text-menu {
        display: inline-block;
    }
}

/* Display */

@media all and (min-width: 1200px) {
    
    nav {
        padding: 0 10%;
    }
}

/* JUMBOTRON */

.jumbotron {
    width: 100%;
    background-color: var(--main-green);
    color: var(--font-clear);
}

.jumbo-content {
    padding-top: 5rem;
}

.jumbo-img {
    width: 300px;
}

/* Star item */

.star-line {
    height: 3px;;
    display: inline-block;
}

.star {
    font-size: 2rem;
}

.clear {
    background-color: var(--font-clear);
}

.dark {
    background-color: var(--font-dark);
}

.s_width {
    width: 40px;
}

.m_width {
    width: 70px;
}

/* Jumbotron - Media Query */

/* Tablet */

@media all and (min-width: 768px) {
    
    .jumbo-img {
        width: 150px;
        padding-top: 2rem;
    }
    .star {
        margin: 0 .5rem;
    }
    .star-line {
        width: 70px;
    }
    .jumbo-content {
        padding-bottom: 1.5rem;
    }
}

/* Display */

@media all and (min-width: 1200px) {
    
    .star-line {
        width: 110px;
    }
}

/* MAIN */

main>.container-fluid {
    color: var(--font-dark);
}

.main-img {
    width: 100%;
}

.card {
    border-color: transparent;
    margin-bottom: 1.5rem;
    position: relative;
}

.card img {
    border-radius: 10px;
}

/* Overlay */

.overlay {
    color: var(--font-clear);
    font-size: 7rem;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10px;
    background-color: rgba(26, 188, 156, .5);
    display: none;
}

.plus {
    width: 100%;
    height: 100%;
    position: relative;
}

.overlay i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card:hover .overlay {
    display: inline-block;
}

/* Portfolio - Media Query */

/* Tablet */

@media all and (min-width: 768px) {

    .img-wrapper {
        width: 90%;
    }
}

/* Display */

@media all and (min-width: 1200px) {
    
    .img-wrapper {
        width: 80%;
    }
}

/* ABOUT SECTION */

.about {
    width: 100%;
    color: var(--font-clear);
    font-size: 1.3rem;
    background-color: var(--main-green);
}

.about_container {
    width: 60%;
    margin: 0 auto;
}

.my_btn {
    font-size: 1.3rem;
    color: var(--font-clear);
    background-color: var(--main-green);
    border: 1px solid white;
    padding: .5rem 1rem;
    border-radius: 7px;
}

.my_btn:hover {
    color: var(--main-green);
    background-color: var(--font-clear);
    border: 1px solid var(--main-green);
}

.about p {
    padding-bottom: 1.5rem;
}

/* FORM - Contact Me */

.form_container {
    width: 60%;
    padding: 1rem;
    margin: 0 auto;
}

form .star-line {
    width: 40px;
}

.form-control {
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0; 
}

.form-control:focus {
    box-shadow: none;
}

.form-floating {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.form-floating>label {
    padding-left: 0;
}

#floatingTextarea {
    height: 200px;
}

/* FORM - Media Query */

/* Tablet */

@media all and (min-width: 768px) {
    
    form .star-line {
        width: 70px;
    }
}

/* Desktop */

@media all and (min-width: 1200px) {
    
    form .star-line {
        width: 110px;
    }
}

/* INFO */

.info {
    color: var(--font-clear);
    background-color: var(--footer);
}

.info p {
    font-size: 1.2rem;
}

.info p a {
    color: var(--main-green);
}

.info p a:hover {
    text-decoration: underline;
}

/* Social */

.social a {
    font-size: 1.3rem;
}

.social a div {
    display: inline-block;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    border: 1px solid var(--font-clear);
    border-radius: 50%;
}

.social a div:hover {
    border-color: var(--main-green);
}

.social li {
    margin: .5rem;
}

/* INFO - Media Query */

/* Mobile */

@media all and (max-width: 768px) {
    
    .info .row {
        padding-bottom: 3rem;
    }
}

/* Footer */

footer {
    color: var(--font-clear);
    background-color: var(--copyright);
}